<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Bus</title>
    <link th:href="@{/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.css}" rel="stylesheet">

</head>
<body>
<div th:insert="~{header-fragment :: header}"></div>

<div class="container">
    <form th:object="${busList}">
        <div class="row mb-3">
            <div class="card">
                <h3 class="card-head text-center">List of available Bus-Trips</h3>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead class="text-center table-primary">
                        <th>S.No</th>
                        <th>Bus Name</th>
                        <th>Registration number</th>
                        <th>Trip Date</th>
                        <th>From Location</th>
                        <th>Departure Time</th>
                        <th>To Location</th>
                        <th>Arrival Time</th>
                        <th>Ticket Price</th>
                        <th>Trip Status</th>
                        </thead>
                        <tbody class="text-center">
                        <tr th:if="${#lists.isEmpty(busList)}">
                            <td colspan="10">No Trips available</td>
                        </tr>
                        <tr th:each="bus,busStat : ${busList}">
                            <td th:text="${busStat.count}"></td>
                            <td th:text="${bus.busTravelName}"></td>
                            <td th:text="${bus.busRegistrationNumber}"></td>
                            <td th:text="${bus.tripDate}"></td>
                            <td th:text="${bus.fromLocation}"></td>
                            <td th:text="${bus.departureTime}"></td>
                            <td th:text="${bus.toLocation}"></td>
                            <td th:text="${bus.arrivalTime}"></td>
                            <td th:text="${bus.ticketPrice}"></td>
                            <td th:text="${bus.tripStatus}"></td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </form>
</div>

</body>
</html>